<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>UNLa</title>
	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="/css/modern-business.css" rel="stylesheet" />
</head>
<body>
	<!-- Navigation -->
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/home/index">HOME</a>
			<button aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation"
				class="navbar-toggler navbar-toggler-right"
				data-target="#navbarResponsive" data-toggle="collapse" type="button"></button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/productos/">Productos</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/stocks/">Stocks</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/pedidos/">Pedidos</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/reportes/">Reportes</a>
					</li>
					<li class="nav-item dropdown"><a aria-expanded="false"
						aria-haspopup="true" class="nav-link dropdown-toggle"
						data-toggle="dropdown" href="#" id="navbarDropdownBlog"> User
							<span th:text="${username}" />
					</a>
						<div aria-labelledby="navbarDropdownBlog"
							class="dropdown-menu dropdown-menu-right">
							<form th:action="@{/logout}" method="post">
								<input class="dropdown-item" style="cursor: pointer"
									type="submit" value="Logout" />
							</form>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>
	<header>
		<div class="d-flex w-100 pl-5 pr-5 justify-content-around align-items-center">
			<div class="carousel-item active" style="width: 50%; height: 90vh; background-position: center center; background-size: contain; background-image: url('/img/control.png')"></div>
			<div class="d-flex flex-column mr-5">
				<h2><strong>SISTEMA DE STOCK (OO2) </strong></h2>
				<h3>Integrantes: </h3>
				<h4>Agustin Toloza</h4>
				<h4>Luca Ledesma</h4>
				<h4>Valentin Soncini</h4>
			</div>
		</div>
	</header>
	
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2018</p>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">
		$("#select-person").change(function() {
			var personId = $("#select-person").val();
			if($.isNumeric(personId)){
				$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
					method: "GET",
				 	url: "/person/partial/" + personId,
				})
				.done(function(result) {
					$("#div-select-person").html(result);
				})
				.fail(function() {
					alert("error");
				});
			}else $("#div-select-person").html("");
		});
	</script>
</body>
</html>