<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reporte de lotes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
        .btn-primary {
            margin-right: 10px;
        }
        
        a{
			color: white;
		}
		
		a:hover{
			color: white;	
		}
		
    </style>
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">Informe de Lotes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/pedidos/">Ver Pedidos de Lotes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/index">Volver a Home</a>
                </li>
            </ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/logout">Cerrar Sesión</a>
				</li>
			</ul>
        </div>
    </nav>
    
    <div class="container">
    
    	<span th:switch="${lotes.size() == 0}">
    		<div th:case="false">
    			
    			
				<h1 class="mt-4 mb-4">Lotes</h1>
		        
		        <div th:each="lote : ${lotes}" class="shadow p-3 mb-3 bg-body rounded">
		        	<div class="card">
		            	<div class="card-body bg-body">
		                    <h5 class="card-title" th:text="${lote.producto.nombre}"></h5>
		                    <p class="card-text">
		                        <strong>idLote:</strong> <span th:text="${lote.id}"></span><br>
		                        <strong>Fecha Recepcion:</strong> <span th:text="${lote.fechaRecepcion}"></span><br>
		                        <strong>Cant Recibida:</strong> <span th:text="${lote.cantidadRecibida}"></span><br>
		                    	<strong>Proveedor del Pedido:</strong> <span th:text="${lote.pedido.proveedor}"></span><br>
		                	</p>
		            	</div>
		        	</div>
		        </div>
		    </div>
			<div th:case="true" class="">
                <h1>NO HAY LOTES EXISTENTES</h1>
        	</div>
		</span>
    	
     </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>