<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Vista de Usuario</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">Vista de Usuario</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                
            </ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" th:text="${username}">Usuario</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Cerrar Sesión</a>
				</li>
			</ul>
        </div>
    </nav>

	<div class="container mt-4">
	        <h1>Productos Disponibles</h1>
			
			<div th:if="${error}" class="alert alert-danger" role="alert">
				<span th:text="${error}"></span>
			</div>
			        
			<div th:if="${success}" class="alert alert-success" role="alert">
				<span th:text="${success}"></span>
			</div>
					
	        <div class="row">
	            <div class="col-md-4" th:each="producto : ${productos}">
	                <div class="card mb-4">
	                    <div class="card-body">
	                        <h5 class="card-title" th:text="${producto.nombre}"></h5>
	                        <p class="card-text">
	                            <strong>Precio:</strong> <span th:text="${producto.precio}"></span><br>
	                            <strong>Código:</strong> <span th:text="${producto.codigo}"></span><br>
	                            <strong>Cantidad Actual:</strong> <span th:text="${producto.stock.cantidadActual}"></span><br>
	                            <strong>Estado:</strong>
	                            <span th:if="${producto.activo}" th:text="'El producto está disponible para comprar'"></span>
	                            <span th:if="${!producto.activo}" th:text="'El producto no está disponible para comprar'"></span>
	                        </p>
	                        <form th:if="${producto.activo}" action="/compras/comprar" method="post">
	                            <div class="form-group">
	                                <label for="cantidad">Cantidad:</label>
	                                <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" required>
	                            </div>
	                            <input type="hidden" name="productoId" th:value="${producto.id}">
	                            <button type="submit" class="btn btn-primary">Comprar</button>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
</html>